---
import Layout from '../layouts/Layout.astro';


async function loadData(){
	const response = await fetch(`${import.meta.env.LOCATIONS_ROWS_BASE_URL}`, {
		headers: {
			'Authorization': `Token ${import.meta.env.API_KEY}`
		}
	});
	const data = await response.json();
	console.log(data);
	return data;
}

const { results } = await loadData();
console.log(results.length);
---

<Layout title="Interest.">
	<main>
		<h1 class='text-black'>Hello</h1>	
		{results.map((location) => (
			<div>
				<h2>{location.field_1855896}</h2>
			</div>
		))}	
	</main>
</Layout>


