---
import Layout from '../layouts/Layout.astro';
import Search from '../components/Search.tsx';

async function loadHeaders() {
  const response = await fetch(`${import.meta.env.LOCATIONS_FIELDS_URL}`, {
    headers: {
      Authorization: `Token ${import.meta.env.API_KEY}`,
    },
  });
  const data = await response.json();
  return data;
}

const headers = await loadHeaders();
---

<Layout title='Interest.'>
  <main class='mt-8 max-w-[90%] m-auto flex-1'>
    <Search client:load headers={headers} />
  </main>
</Layout>
