---

---

<div class="w-full bg-black/90 text-white/90 flex flex-col items-center justify-center gap-y-4 py-8">

	<h1>All rights reserved Christophe Anfry &copy; 2024</h1>
	<h2>Powered by <a href="https://baserow.io/" class="text-yellow-500 font-bold">Baserow</a></h2>
</div>
