---

---


<header class='h-[500px] w-full bg-black/80 relative grid grid-cols-4'>
	<img src='../../public/images/tokyo.jpg' alt='view' class='object-cover h-full'>
	<img src='../../public/images/copen.jpg' alt='view' class='object-cover h-full'>
	<img src='../../public/images/sevilla.jpg' alt='view' class='object-cover h-full'>
	<img src='../../public/images/chicago.jpg' alt='view' class='object-cover h-full'>
	<div class='absolute left-0 top-0 w-full h-full px-8 bg-black/80 flex flex-col items-center justify-center'>
		<h1 class='text-white text-6xl'>Points Of <span class='text-yellow-500'>Interest</span></h1>
		<h1 class='text-white/80 font-thin text-4xl'>Organize better your next trip checking the places to go first.</h1>
	</div>
</header>
