---

---


<header class='w-full bg-black/80 relative grid grid-cols-4 mb-8'>
	<img src='/images/tokyo.jpg' alt='view' class='object-cover h-full'>
	<img src='/images/copen.jpg' alt='view' class='object-cover h-full'>
	<img src='/images/sevilla.jpg' alt='view' class='object-cover h-full'>
	<img src='/images/chicago.jpg' alt='view' class='object-cover h-full'>
	<div class='absolute left-0 top-0 w-full h-full px-8 bg-black/80 flex flex-col items-center justify-center'>
		<h1 class='text-white text-6xl'>Points Of <span class='text-yellow-500'>Interest</span></h1>
		<h1 class='text-white/80 font-thin text-4xl'>Organize better your next trip checking the places to go first.</h1>
		<a href={Astro.url.pathname == '/' ? '/form' : '/'}><button class='mt-8 px-4 py-2 bg-yellow-500 text-black/80 font-bold text-lg rounded-md hover:bg-yellow-600 transition-all duration-300'>{Astro.url.pathname == '/' ? 'Add a review' : 'Homepage'}</button></a>
	</div>
</header>
