---
import Layout from "../../layouts/Layout.astro";

if (Astro.request.method === "POST") {
    const body = await Astro.request.formData();
    const name = body.get("name") as string;
    const location = body.get("location") as string;
    const type = body.get("type") as string;
    const rating = body.get("rating") as number;
    const city = body.get("city") as string;
    const country = body.get("country") as string;

    const data = {
        Name: name,
        Location: location,
        Type: type,
        Rating: rating,
        City: city,
        Country: country,
    };

    console.log(data);

    // redirect to the home page
    fetch(`${import.meta.env.PUBLIC_LOCATIONS_ROWS_URL}`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            Authorization: `Token ${import.meta.env.PUBLIC_API_KEY}`,
        },
        body: JSON.stringify(data),
    })
        .then((response) => response.json())
        .then((data) => console.log(data))
        .catch((error) => console.log(error));
    return Astro.redirect("/");
}
---

<Layout title="form">
    <main class="flex flex-col items-center">
        <form method="POST" class="mb-16 flex flex-col items-start gap-y-4">
            <h1 class="text-4xl font-bold text-slate-700">
                Add a new point of interest.
            </h1>
            <div class="flex w-full flex-col items-start gap-y-1">
                <label for="name" class="text-lg font-bold text-slate-500"
                    >Name:</label
                >
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Enter the name"
                    class="w-full rounded-md bg-slate-100 p-2 px-3"
                />
            </div>
            <div class="flex w-full flex-col items-start gap-y-1">
                <label for="location" class="text-lg font-bold text-slate-500"
                    >Location: (paste the Google Maps URL)</label
                >
                <input
                    type="text"
                    id="location"
                    name="location"
                    placeholder="Google Maps URL"
                    class="w-full rounded-md bg-slate-100 p-2 px-3"
                />
            </div>
            <div class="flex w-full flex-col items-start gap-y-1">
                <label for="type" class="text-lg font-bold text-slate-500"
                    >Type:</label
                >
                <input
                    type="text"
                    id="type"
                    name="type"
                    placeholder="Restaurant, Museum..."
                    class="w-full rounded-md bg-slate-100 p-2 px-3"
                />
            </div>
            <div class="flex w-full flex-col items-start gap-y-1">
                <label for="rating" class="text-lg font-bold text-slate-500"
                    >Rating:</label
                >
                <select name="rating" class="bg-slate-100">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="flex w-full flex-col items-start gap-y-1">
                <label for="city" class="text-lg font-bold text-slate-500"
                    >City:</label
                >
                <input
                    type="text"
                    id="city"
                    name="city"
                    placeholder="Enter the city"
                    class="w-full rounded-md bg-slate-100 p-2 px-3"
                />
            </div>
            <div class="flex w-full flex-col items-start gap-y-1">
                <label for="name" class="text-lg font-bold text-slate-500"
                    >Country:</label
                >
                <input
                    type="text"
                    id="country"
                    name="country"
                    placeholder="Enter the country"
                    class="w-full rounded-md bg-slate-100 p-2 px-3"
                />
            </div>
            <button
                type="submit"
                class="rounded-md bg-slate-700 p-2 px-4 text-white"
                >Submit</button
            >
        </form>
    </main>
</Layout>
